<div class="container">
  <h2 class="title">Book List</h2>
  <div class="search">
    <input type="text" [(ngModel)]="searchQuery" placeholder="Search wit title or author">
    <button (click)="searchBooks()">Search</button>
  </div>
  <table>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Availability</th>
      <th *ngIf="user && (user.role === 'USER' || user.role === 'ADMIN')">Order</th>
    </tr>
    <tr *ngFor="let book of books">
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td *ngIf="user && (user.role === 'USER' || user.role === 'ADMIN')">{{ book.quantity }}</td>
      <td *ngIf="user && (user.role === 'USER' || user.role === 'ADMIN')">
        <input type="number" [(ngModel)]="book.orderQuantity" placeholder="Quantity">
        <button (click)="orderBook(book, book.orderQuantity)">Order</button>
      </td>
    </tr>
  </table>
</div>
