<div class="container">
  <h2 class="title">Login</h2>
  <form>
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" [(ngModel)]="username" name="username">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password">
      <div *ngIf="loginError" class="error-message">{{ loginError }}</div>
    </div>
    <button (click)="login()">Login</button>
    <button routerLink="/register">Register</button>
    <br>
    <br>
    <button (click)="loginAsGuest()" class="guest-button">Login as guest</button>
  </form>
</div>
