<header class="navbar" *ngIf="isNavbarVisible">
    <nav>
      <a routerLink="/books" routerLinkActive="active">Books</a>
      <a routerLink="/users" routerLinkActive="active">Users</a>
      <a routerLink="/profile" routerLinkActive="active">Profile</a>
      <button (click)="logout()">Logout</button>
    </nav>
  </header>
  