<div class="container">
  <h2 class="title">Register</h2>
  <form>
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" class="form-control">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" class="form-control">
    </div>
    <button (click)="register()" class="btn btn-primary">Register</button>
  </form>
</div>
