<h2 class="title">User List</h2>
<table>
  <tr>
    <th>Username</th>
    <th>Role</th>
  </tr>
  <tr *ngFor="let user of users">
    <td>{{ user.username }}</td>
    <td>{{ user.role }}</td>
  </tr>
</table>
<p *ngIf="!isAdmin">You are not an admin.</p>
