<h2>User Profile</h2>
<p>Username: {{ user?.username }}</p>
<p>Role: {{ user?.role }}</p>

<h3>Purchase History</h3>
<ul>
  <li *ngFor="let purchase of user?.purchases">
    <strong>Title:</strong> {{ purchase.title }} |
    <strong>Author:</strong> {{ purchase.author }} |
    <strong>Quantity:</strong> {{ purchase.quantity }}
  </li>
</ul>
