.container {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  .title {
    background-color: #808080;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .search {
    margin-bottom: 20px;
  }
  
  .search input[type="text"] {
    width: 60%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .search button {
    background-color: #808080;
    color: #ffffff;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
  }
  
  .search button:hover {
    background-color: #666666;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  