.container {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  .title {
    background-color: #808080;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  form {
    background-color: #ffffff;
    padding: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #28db00;
    color: #ffffff;
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #666666;
  }
  
  .guest-button {
    background-color: #888888;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .guest-button:hover {
    background-color: #666666;
  }