.navbar {
    background-color: #808080;
    color: #ffffff;
    padding: 10px;
  }
  
  .navbar nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .navbar a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  
  .active {
    font-weight: bold;
  }
  