.container {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  .title {
    background-color: #808080;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
  }

  