.container {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  .title {
    background-color: #808080;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  